/*********** GENERAL PAGE *************/




/*************************************/
.social li {
  display: inline-block;
}

.social ul {
  list-style: none;
}

.social li :nth-child(7) {
  padding-top: 20px;
}

